<h1>Create New Tweet</h1>
<form action='/tweets' method='POST'>
  <label>Name</label>
  <input type="text" name="name">
  <label>Content</label>
  <input type="text" name="content">
  <input type="submit" value="Create Tweet">
</form>
